@inherits LayoutComponentBase

@using TruckeroApp.Components.Pages.Shared

@inject NavigationManager Nav

@if (!Nav.Uri.Contains("/login"))
{
    <HeaderBar />
}

<main class="pt-0">
    @Body
</main>


